numpy
pandas
pandas_datareader
datetime
ta
tk
matplotlib
seaborn
plotly
plotly.express
streamlit
streamlit-authenticator
tweepy
praw
scikit-learn
yfinance
yahoofinancials
prophet==1.1.1
nsepy
mftool
PyportfolioOpt
selectolax
streamlit_pdf_viewer
bsedata
requests