numpy
pandas
pandas_datareader
datetime
ta
tk
matplotlib
seaborn
plotly
plotly.express
streamlit
streamlit-authenticator
tweepy
praw
scikit-learn
yfinance
yahoofinancials
holidays==0.24
prophet
nsepy
mftool
PyportfolioOpt
selectolax
streamlit_pdf_viewer
bsedata
requests
